body {
    background-color:black;
    font-family:arial;
    color:white
}
h1{
    color:grey;
    font-family:verdana;
    white-space: nowrap;
}
.maindiv{
    min-width: min-content;
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    align: center;
    margin: 0 auto
}
h1+div{
    width: max-content;
    margin: 0 auto;
}
